body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: grey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    color: white;
    align-items: center;
    height: 50px;
    margin-left: 0px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    letter-spacing: 2px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

.box1 {
    display: flex;
    margin-top: 0;
    background-color: black;
    color: yellow;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 250px;
}

h1 {
    align-items: center;
    font-size: 70px;
}

.box2 {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
}

.greenbox {
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.greenbox2 {
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.greenbox3 {
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    border-radius: 15px;
}

.box3 {
    margin-top: 50px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.orangebox1 {
    background-color: orange;
    height: 225px;
    width: 450px;
}

.orangebox2 {
    background-color: orange;
    height: 225px;
    width: 450px;
}

.box4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    height: auto;
    width: 350px;
    margin-right: 25px;
}

img {
    height: 250px;
    width: auto;
    margin-left: 25px;
}

.box5 {
    height: 100px;
    width: auto;
    background-color: rgb(66, 63, 87);
    margin-top: 50px;
}